#header {
    position: fixed;
    top: 10;
    width: 40%;
    max-width: 100%;
    background: linear-gradient(to right, #129d7aa2, #195a8b93, #60158f84);
    font-size: clamp(1.5rem, 4vw, 2.4rem);
    min-height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 100px;
    padding: 0.5rem;
    margin: auto;
    z-index: 1000;
}

.header-option {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header-option:hover {
    color: #31c0a1;
    transform: scale(1.1);
    text-decoration: underline;
}

#logo-light{
    position:relative;
    margin-top:20px;
    height:85px;
    left:-30px;
} 