#Pwdbox{
    font-size: 36px;
    border-style: none;
    border-radius: 15px;
    border-width: 1px;
    min-width: 56%;
    padding:16px;
    padding-left:40px;
    margin: 20px;
    height:60px;
    /* background-color: rgb(56, 219, 189); */
    /* background-color: rgba(251, 251, 251, 0.063); */
    background-color: rgba(106, 250, 233, 0.06);
    color:rgb(235, 235, 235);
}

.forgot-password {
    font-size: 28px; 
    color: white; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: rgb(109, 231, 182); 
}

#Pwdbox::placeholder{
    /* color:white; */
    color:rgb(56, 219, 189);
    font-size: 36px;
}

